.todoCard {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 450px;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  font-family: Papyrus, fantasy;
}

.input {
  background-color: #3a3a3a;
  border: 2px solid #555;
  border-radius: 12px;
  padding: 18px;
  font-size: 18px;
  color: white;
  outline: none;

  /* Fixed size */
  width: 100%;
  box-sizing: border-box;
}

.textarea {
  padding: 12px 16px;
  font-size: 18px;
  border: 2px solid #555;
  border-radius: 8px;
  background-color: #333;
  color: white;
  outline: none;
  transition: all 0.3s ease;

  width: 100%;
  /* full width of card */
  height: 120px;
  /* fixed height */
  resize: none;
  /* prevent manual resizing */
  box-sizing: border-box;
}

.input::placeholder,
.textarea::placeholder {
  color: #aaa;
}

.input:focus,
.textarea:focus {
  border-color: white;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.button {
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #444;
  border: 2px solid #555;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #666;
  border-color: white;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.txt {
  color: white;
}