.footer {
  background-color: black;
  padding: 20px 32px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: Papyrus, fantasy;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.text {
  color: white;
  font-size: 24px; /* bigger font size */
}
